.shadow-btn-s {
  box-shadow: 0 13px 9px #bbb6b1;
}

.shadow-card {
  box-shadow: 0 30px 20px rgba(246, 245, 254, 0.2);
}

.bg-gradient {
  background: linear-gradient(to right, #1c105e, #2d063c);
}

.bg-light {
  background-color: #fff;
}

.bg-grey {
  background-color: #a8b0c9;
}

.bg-p {
  background-color: #ff6934;
}

.txt-p {
  color: #ff6934;
}

.txt-lite {
  color: #fff;
}

.txt-grey {
  color: #a8b0c9;
}

.font-pop, .pop-lite, .btn, .pop-reg, .pop-heavy, .card .card-header:not(.bg-p), .btn-strong {
  font-family: "Poppins", sans-serif;
}

.font-opens {
  font-family: "Open Sans", sans-serif;
}

.pop-heavy, .card .card-header:not(.bg-p), .btn-strong {
  font-weight: bold;
}

.pop-reg {
  font-weight: normal;
}

.pop-lite, .btn {
  font-weight: normal !important;
}

.para-xs {
  font-size: 12px !important;
}

.para-sm, .form-group label {
  font-size: 14px !important;
}

.para-reg {
  font-size: 16px !important;
}

.para-lg {
  font-size: 18px !important;
}

.para-xl {
  font-size: 20px !important;
}

.h-s {
  font-size: 22px !important;
}

.h-m {
  font-size: 24px !important;
}

.h-l, .card .card-header:not(.bg-p) {
  font-size: 28px !important;
}

.h-xl {
  font-size: 32px !important;
}

.h-xxl {
  font-size: 34px !important;
}

.h-xxxl {
  font-size: 42px !important;
  line-height: 80px;
}

.btn {
  width: auto;
  height: 50px;
  line-height: 20px;
  border-radius: 5px !important;
  border: none;
  padding: 15px 30px !important;
}

.btn-p {
  background-color: #ff6934;
  color: #fff !important;
}

.btn-light-p {
  background-color: #fff;
  color: #ff6934;
}

.btn-outline-s {
  background: transparent;
  color: #000;
  border: 1px solid #a8b0c9;
}

.btn-outline-p {
  background: transparent;
  color: #000 !important;
  border: 1px solid #ff6934;
}
.btn-outline-p:hover {
  background: #ff6934;
  border-color: #ff6934;
  color: #fff !important;
}

.btn-outline-success {
  border: 1px solid #1AB156 !important;
  color: #1AB156;
}
.btn-outline-success:hover {
  background: #1AB156;
  border-color: #ff6934;
  color: #fff !important;
}
.btn-outline-success[disabled] {
  color: #a8b0c9 !important;
  border-color: #a8b0c9 !important;
}

.btn-capsule {
  border-radius: 35px !important;
}

.btn-auto {
  width: auto !important;
  min-width: none !important;
  height: auto;
  min-height: auto;
}

.btn-mini {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: normal;
}

.btn-sm {
  height: 40px !important;
  line-height: 10px !important;
  min-width: 0 !important;
  padding: 15px 25px !important;
}

a:not(footer a) {
  color: #ff6934;
}

.link-light a,
a .link-light {
  color: #fff;
}
.link-light a:hover,
a .link-light:hover {
  color: #ff6934;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.w100,
.w100 * {
  width: 100%;
}

.form-group {
  position: relative;
  margin-top: 20px;
}
.form-group label {
  color: #a8b0c9;
  position: absolute;
  top: -14px;
  left: 10px;
  display: inline-block;
  padding: 3px 10px;
  background: #fff;
  z-index: 4;
}

html,
body {
  width: 100%;
  height: auto;
  background-color: #fcf0eb;
}

img {
  max-width: 90%;
}

.my-5e {
  margin: 5em 0;
}

.content-wrapper {
  width: calc(100% - 50px);
  margin-left: 50px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #273050 #17203f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #17203f;
}

*::-webkit-scrollbar-thumb {
  background-color: #273050;
  border-radius: 10px;
  border: 3px none #273050;
}

input[type=text],
input[type=password],
input[type=email],
input.form-control,
.input-group-text,
select.form-control,
textarea.form-control {
  border: 1px solid #a8b0c9;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
  font-size: 16px;
  color: #000;
  box-sizing: border-box;
  padding: 0 15px;
}

textarea.form-control {
  height: auto;
  padding-top: 15px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../images/ddarrow.png);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

.input-group-text {
  background-color: transparent;
  border-right: 1px solid rgba(112, 112, 112, 0.3);
}

.input-group-prepend {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.input-group-prepend + input {
  border-left: none;
}

.input-group > input.form-control {
  border-right: 0;
}

.section-heading h2 {
  margin-bottom: 45px;
}

#wrapper {
  width: 100%;
  max-width: 100%;
  min-height: 500px;
  overflow: hidden;
  margin-top: 100px;
}

.navbar-brand {
  display: inline-block;
  max-width: 135px;
}

.card {
  border-radius: 10px;
  border: none;
  overflow: hidden;
}
.card .card-header:not(.bg-p) {
  background-color: #fff;
}

.input-group-text {
  min-width: 55px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #000;
}

span.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  background: #f5f5f5;
}

nav {
  margin-bottom: 2em;
  height: 80px;
  background-color: #fff;
  box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.05);
}
nav a {
  display: inline-block;
  margin: 0 10px;
  color: #000 !important;
}
nav a:hover {
  color: #ff6934 !important;
}
nav .btn-nav {
  height: 45px;
  line-height: 20px;
  padding: 15px 35px;
}

#sidemenu {
  width: 250px;
  height: calc(100% - 80px);
  background-color: #17203f;
  position: fixed;
  left: 0rem;
  bottom: 0;
  z-index: 100;
  transition: all 0.3s ease;
  overflow-y: auto;
}
#sidemenu a {
  color: #a8b0c9;
  text-decoration: none;
  display: block;
  padding: 12px 15px;
}
#sidemenu a:hover {
  background-color: #ff6934;
  color: #fff;
}
#sidemenu a i {
  margin-right: 10px;
}
#sidemenu ul ul {
  background-color: #273050;
  padding: 0;
  display: none;
}
#sidemenu ul ul li a {
  padding: 8px 15px;
}

li.dd > a:after {
  content: "\f0da";
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
}

#sidemenu.collapsed {
  width: 60px;
  transition: all 0.3s ease;
  display: block;
  overflow-y: hidden;
}
#sidemenu.collapsed ul {
  text-align: center;
}
#sidemenu.collapsed ul a span {
  display: none;
}

ul.order-brief li {
  border-bottom: 1px solid #dfe5e8;
  padding: 10px 0;
}

.table-input {
  position: relative;
}
.table-input span {
  position: absolute;
  display: block;
  height: 28px;
  padding: 0 5px;
  top: 1px;
  left: 1px;
  font-size: 14px;
  line-height: 28px;
}
.table-input input {
  height: 30px !important;
  padding: 0 10px 0 30px;
  margin: 0px 0px 0 0;
  width: 90px;
  border-radius: 0;
  border: 1px solid #a8b0c9;
  font-size: 16px;
  text-align: right;
  border-radius: 3px;
}

.input-group-text.disabled {
  background: #a8b0c9;
}

#formaside {
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100vh;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 1px 40px 10px rgba(0, 0, 0, 0.2);
}

.panel-header {
  border-bottom: 1px solid #dfe5e8;
}

.form-group.in-table {
  margin: 0 !important;
}
.form-group.in-table input,
.form-group.in-table select {
  width: 150px;
  height: 30px;
  margin: 5px 0;
  border: 1px solid #b9d2dc;
}

table tbody tr:nth-child(odd) {
  background: #f8fafa;
}

thead th {
  padding: 10px !important;
}

/*# sourceMappingURL=style.css.map */
